<?xml version="1.0" encoding="utf-8" ?>
<bundle>
  <plugin Name="OPUPMS.Restaurant.Web">
    <!--layui start-->
    <script Name="TabJs" VirtualPath="~/js/tab">
      <include FileBasePath="/Scripts/pageJS">
        <file Path="tab.js"/>
      </include>
    </script>

    <script Name="NavbarJs" VirtualPath="~/js/navbar">
      <include FileBasePath="/Scripts/pageJS">
        <file Path="Navbar.js"/>
      </include>
    </script>

    <script Name="BasicJs" VirtualPath="~/js/basic/basic">
      <include FileBasePath="/Scripts/pageJS/Basic">
        <file Path="basic.js"/>
      </include>
    </script>
    <!--layui end-->
    
    <script Name="HuiminJs" VirtualPath="~/js/hui-min">
      <include FileBasePath="/Content/h-ui/js">
        <file Path="H-ui.min.js"/>
      </include>
    </script>

    <script Name="HuiAdminJs" VirtualPath="~/js/huiadmin">
      <include FileBasePath="/Content/h-ui.admin/js">
        <file Path="H-ui.admin.js"/>
      </include>
    </script>

    <script Name="LayerJs" VirtualPath="~/js/layer.js">
      <include FileBasePath="/Scripts/layer">
        <file Path="layer.js"/>
      </include>
    </script>

    <script Name="JqueryValidateJs" VirtualPath="~/js/jqueryValidate">
      <include FileBasePath="/Scripts/jquery.validation">
        <file Path="jquery.validate.js"/>
        <file Path="validate-methods.js"/>
        <file Path="messages_zh.js"/>
        <file Path="additional-methods.js"/>
      </include>
    </script>

    <script Name="BootstrapTableJs" VirtualPath="~/js/BootstrapTable">
      <include FileBasePath="/Scripts/bootstrap-table">
        <file Path="bootstrap-table.min.js"/>
        <file Path="locale/bootstrap-table-zh-CN.min.js"/>
        <file Path="bootstrapFormater.js"/>
        <file Path="bootstrap-table-export.js"/>
        <file Path="tableExport.js"/>
      </include>
    </script>

    <script Name="DatetimepickerJs" VirtualPath="~/js/datetimepicker">
      <include FileBasePath="/Scripts/datapicker">
        <file Path="bootstrap-datetimepicker.js"/>
        <file Path="bootstrap-datetimepicker.zh-CN.js"/>
      </include>
    </script>

    <script Name="IcheckJs" VirtualPath="~/js/icheck">
      <include FileBasePath="/Scripts/icheck">
        <file Path="icheck.min.js"/>
      </include>
    </script>

    <script Name="SelectJs" VirtualPath="~/js/select2">
      <include FileBasePath="/Scripts/bootstrap-select">
        <file Path="select2.min.js"/>
      </include>
    </script>

    <script Name="CkediterJs" VirtualPath="~/js/Ckediter">
      <include FileBasePath="/Scripts/ckeditor">
        <file Path="ckeditor.js"/>
      </include>
    </script>

    <script Name="VueJs" VirtualPath="~/js/vue">
      <include FileBasePath="/Scripts/vue">
        <file Path="vue.js"/>
      </include>
    </script>

    <script Name="BootstrapContextMenuJs" VirtualPath="~/js/BootstrapContextMenu">
      <include FileBasePath="/Scripts/bootstrap-contextmenu">
        <file Path="bootstrap-contextmenu.js"/>
        <file Path="prettify.js"/>
      </include>
    </script>

    <script Name="WelcomeJs" VirtualPath="~/js/Welcome">
      <include FileBasePath="/Scripts/pageJS/Index">
        <file Path="Welcome.js"/>
      </include>
    </script>    

    <style Name="BootstrapTableStyle" VirtualPath="~/css/BootstrapTable">
      <include FileBasePath="/Scripts/bootstrap-table" RewriteUrl="true">
        <file Path="bootstrap-table.min.css"/>
      </include>
    </style>

    <style Name="DatetimepickerStyle" VirtualPath="~/css/Datetimepicker">
      <include FileBasePath="/Scripts/datapicker" RewriteUrl="true">
        <file Path="bootstrap-datetimepicker.min.css"/>
      </include>
    </style>

    <style Name="IcheckStyle" VirtualPath="~/css/Icheck">
      <include FileBasePath="/Scripts/icheck/skins/minimal" RewriteUrl="true">
        <file Path="blue.css"/>
      </include>
    </style>

    <style Name="BootstrapContextMenuStyle" VirtualPath="~/css/BootstrapContextMenu">
      <include FileBasePath="/Scripts/bootstrap-contextmenu" RewriteUrl="true">
        <file Path="prettify.css"/>
        <file Path="bootstrap-combined.min.css"/>
      </include>
    </style>

    <style Name="SelectStyle" VirtualPath="~/css/Select2">
      <include FileBasePath="/Scripts/bootstrap-select" RewriteUrl="true">
        <file Path="select2.css"/>
      </include>
    </style>

    <style Name="GlobalStyle" VirtualPath="~/css/global">
      <include FileBasePath="/Content/css" RewriteUrl="true">
        <file Path="global.css"/>
      </include>
    </style>

    <style Name="RootStyle" VirtualPath="~/css/root">
      <include FileBasePath="/Content/css" RewriteUrl="true">
        <file Path="root.css"/>
      </include>
    </style>

    <style Name="PageStyle" VirtualPath="~/css/pageStyle">
      <include FileBasePath="/Content/css" RewriteUrl="true">
        <file Path="PageStyle.css"/>
      </include>
    </style>

    <style Name="UserLoginStyle" VirtualPath="~/css/login">
      <include FileBasePath="/Content/css" RewriteUrl="true">
        <file Path="login.css"/>
      </include>
    </style>

    <style Name="HuiStyle" VirtualPath="~/css/h-ui">
      <include FileBasePath="/Content/h-ui/css" RewriteUrl="true">
        <file Path="H-ui.min.css"/>
      </include>
    </style>

    <style Name="HuiAdminStyle" VirtualPath="~/css/h-uiAdmin">
      <include FileBasePath="/Content/h-ui.admin/css" RewriteUrl="true">
        <file Path="H-ui.admin.css"/>
        <file Path="style.css"/>
      </include>
    </style>

    <style Name="IconFont" VirtualPath="~/css/iconfont">
      <include FileBasePath="/Content/lib/Hui-iconfont/1.0.8" RewriteUrl="true">
        <file Path="iconfont.css"/>
      </include>
    </style>

    <style Name="Skin" VirtualPath="~/css/skin">
      <include FileBasePath="/Content/h-ui.admin/skin/default" RewriteUrl="true">
        <file Path="skin.css"/>
      </include>
    </style>

    <style Name="BootstrapSwitchStyle" VirtualPath="~/css/bootstrapSwitch">
      <include FileBasePath="/Scripts/bootstrap-switch" RewriteUrl="true">
        <file Path="bootstrap-switch.css"/>
      </include>
    </style>

    <script Name="BootstrapSwitchJs" VirtualPath="~/js/bootstrapSwitch">
      <include FileBasePath="/Scripts/bootstrap-switch">
        <file Path="bootstrap-switch.js"/>
      </include>
    </script>
    
    
    
    <!--新界面资源配置 start-->

    <style Name="NewIndexStyle" VirtualPath="~/css/new/index">
      <include FileBasePath="/Content/css">
        <file Path="index.css"/>
      </include>
    </style>
    
    <style Name="PublicStyle" VirtualPath="~/css/new/public">
      <include FileBasePath="/Content/css">
        <file Path="public.css"/>
      </include>
    </style>

    <script Name="HomeJs" VirtualPath="~/js/new/Home">
      <include FileBasePath="/Scripts/pageJS/Home">
        <file Path="Home.js"/>
      </include>
    </script>

    <script Name="IndexJs" VirtualPath="~/js/new/index">
      <include FileBasePath="/Scripts/pageJS/Index">
        <file Path="index.js"/>
      </include>
    </script>
    
    <script Name="PublicJs" VirtualPath="~/js/new/public">
      <include FileBasePath="/Scripts/pageJS">
        <file Path="public.js"/>
      </include>
    </script>
    
    
    <script Name="OpenTableJs" VirtualPath="~/js/new/opentable">
      <include FileBasePath="/Scripts/pageJS/Restaurant">
        <file Path="OpenTable.js"/>
      </include>
    </script>

    <script Name="ReserveJs" VirtualPath="~/js/new/reserve">
      <include FileBasePath="/Scripts/pageJS/Restaurant">
        <file Path="Reserve.js"/>
      </include>
    </script>
    
    <script Name="ChoseProjectJs" VirtualPath="~/js/new/choseproject">
      <include FileBasePath="/Scripts/pageJS/Restaurant">
        <file Path="ChoseProject.js"/>
      </include>
    </script>

    <script Name="ClearProjectJs" VirtualPath="~/js/new/clearproject">
      <include FileBasePath="/Scripts/pageJS/Home">
        <file Path="ClearProject.js"/>
      </include>
    </script>

    <script Name="ProjectRecommendJs" VirtualPath="~/js/new/ProjectRecommend">
      <include FileBasePath="/Scripts/pageJS/Project">
        <file Path="ProjectRecommend.js"/>
      </include>
    </script>
    
    <script Name="Keyboard" VirtualPath="~/js/new/keyboard">
      <include FileBasePath="/Scripts/keyboard">
        <file Path="vk_loader.js"/>
      </include>
    </script>
    
    <script Name="Keyboard_en" VirtualPath="~/js/new/keyboard_en">
      <include FileBasePath="/Scripts/pageJS">
        <file Path="keyboard_en.js"/>
      </include>
    </script>
    
    <script Name="chinese_pynsimpl" VirtualPath="~/js/new/chinese_pynsimpl">
      <include FileBasePath="/Scripts/pageJS">
        <file Path="chinese-pynsimpl.js"/>
      </include>
    </script>

    <script Name="CheckOut" VirtualPath="~/js/new/checkout">
      <include FileBasePath="/Scripts/pageJS/CheckOut">
        <file Path="CheckOut.js"/>
      </include>
    </script>

    <script Name="ReturnCheckOut" VirtualPath="~/js/new/returncheckout">
      <include FileBasePath="/Scripts/pageJS/CheckOut">
        <file Path="ReturnCheckout.js"/>
      </include>
    </script>

    <script Name="Echarts" VirtualPath="~/js/new/echarts">
      <include FileBasePath="/Scripts/echarts">
        <file Path="echarts.common.min.js"/>
      </include>
    </script>

    <script Name="Report" VirtualPath="~/js/new/report">
      <include FileBasePath="/Scripts/pageJS">
        <file Path="report.js"/>
      </include>
    </script>

    <style Name="colpickStyle" VirtualPath="~/css/new/colpickStyle">
      <include FileBasePath="/Scripts/colorpicker/css">
        <file Path="colpick.css"/>
      </include>
    </style>

    <script Name="colpickJS" VirtualPath="~/js/new/colpickJS">
      <include FileBasePath="/Scripts/colorpicker/js">
        <file Path="colpick.js"/>
      </include>
    </script>

    <script Name="isScrollconfigJS" VirtualPath="~/js/new/isScrollconfig">
      <include FileBasePath="/Scripts/pageJS">
        <file Path="isScrollconfig.js"/>
      </include>
    </script>

    <style Name="webuploaderStyle" VirtualPath="~/css/new/webuploaderStyle">
      <include FileBasePath="/Scripts/webuploader-0.1.5">
        <file Path="webuploader.css"/>
      </include>
    </style>

    <script Name="webuploaderJS" VirtualPath="~/js/new/webuploaderJS">
      <include FileBasePath="/Scripts/webuploader-0.1.5">
        <file Path="webuploader.js"/>
      </include>
    </script>
    
    <style Name="webuploaderDropStyle" VirtualPath="~/css/new/webuploaderDropStyle">
      <include FileBasePath="/Scripts/webuploader-0.1.5/css">
        <file Path="webuploaderDrop.css"/>
      </include>
    </style>
    
    <script Name="webuploaderDropJS" VirtualPath="~/js/new/webuploaderDropJS">
      <include FileBasePath="/Scripts/webuploader-0.1.5/js">
        <file Path="webuploaderDrop.js"/>
      </include>
    </script>
    
    <style Name="dropDadStyle" VirtualPath="~/css/new/dropDadStyle">
      <include FileBasePath="/Scripts/dropDad">
        <file Path="dropDad.css"/>
      </include>
    </style>

    <script Name="dropDadJS" VirtualPath="~/js/new/dropDadJS">
      <include FileBasePath="/Scripts/dropDad">
        <file Path="dropDad.js"/>
      </include>
    </script>

    <style Name="swiperStyle" VirtualPath="~/css/new/swiperStyle">
      <include FileBasePath="/Scripts/swiper/css">
        <file Path="swiper.min.css"/>
      </include>
    </style>

    <script Name="swiperJS" VirtualPath="~/js/new/swiperJS">
      <include FileBasePath="/Scripts/swiper/js">
        <file Path="swiper.min.js"/>
      </include>
    </script>

    <script Name="SortableJS" VirtualPath="~/js/new/SortableJS">
      <include FileBasePath="/Scripts/">
        <file Path="Sortable.js"/>
      </include>
    </script>
    
    <!--新界面资源配置 end-->
    
    <!--平板端资源配置 start-->
    <script Name="MPublicJs" VirtualPath="~/js/new/MPublic">
      <include FileBasePath="/Scripts/pageJS">
        <file Path="MPublic.js"/>
      </include>
    </script>
    
    <style Name="MPublicStyle" VirtualPath="~/css/new/MPublic">
      <include FileBasePath="/Content/css">
        <file Path="MPublic.css"/>
      </include>
    </style>
        
    <style Name="mUserLoginStyle" VirtualPath="~/css/mLogin">
      <include FileBasePath="/Content/css" RewriteUrl="true">
        <file Path="mLogin.css"/>
      </include>
    </style>

    <script Name="MHomeJs" VirtualPath="~/js/new/MHome">
      <include FileBasePath="/Scripts/pageJS/MHome">
        <file Path="MHome.js"/>
      </include>
    </script>

    <script Name="MOpenTableJs" VirtualPath="~/js/new/MOpenTableJs">
      <include FileBasePath="/Scripts/pageJS/MHome">
        <file Path="MOpenTable.js"/>
      </include>
    </script>

    <script Name="MChoseProjectJs" VirtualPath="~/js/new/MChoseProjectJs">
      <include FileBasePath="/Scripts/pageJS/MHome">
        <file Path="MChooseProject.js"/>
      </include>
    </script>

    <script Name="FastClick" VirtualPath="~/js/new/FastClick">
      <include FileBasePath="/Scripts/">
        <file Path="fastclick.js"/>
      </include>
    </script>

    <!--平板端资源配置 end-->

    <!--用户点餐  平板端资源配置 start-->
    <style Name="resetStyle" VirtualPath="~/css/new/resetStyle">
      <include FileBasePath="/Content/css" RewriteUrl="true">
        <file Path="reset.css"/>
      </include>
    </style>

    <style Name="elementStyle" VirtualPath="~/css/new/elementStyle">
      <include FileBasePath="/Scripts/element/css">
        <file Path="index.css"/>
      </include>
    </style>

    <script Name="elementJS" VirtualPath="~/js/new/elementJS">
      <include FileBasePath="/Scripts/element/js">
        <file Path="index.js"/>
      </include>
    </script>

    <script Name="lazyloadJS" VirtualPath="~/js/new/lazyloadJS">
      <include FileBasePath="/Scripts">
        <file Path="lazyload.js"/>
      </include>
    </script>

    <script Name="vueJS" VirtualPath="~/js/new/vueJS">
      <include FileBasePath="/Scripts/vue/">
        <file Path="vue.js"/>
      </include>
    </script>

    <style Name="FlatIndexStyle" VirtualPath="~/css/new/FlatIndexStyle">
      <include FileBasePath="/Content/css/pages/Flat">
        <file Path="index.css"/>
      </include>
    </style>
    
    <script Name="FlatIndexJS" VirtualPath="~/js/new/FlatIndexJS">
      <include FileBasePath="/Scripts/pageJS/Flat">
        <file Path="index.js"/>
      </include>
    </script>

    <style Name="FlatChoseProjectStyle" VirtualPath="~/css/new/FlatChoseProjectStyle">
      <include FileBasePath="/Content/css/pages/Flat">
        <file Path="ChoseProject.css"/>
      </include>
    </style>
    
    <script Name="FlatChoseProjectJS" VirtualPath="~/js/new/FlatChoseProjectJS">
      <include FileBasePath="/Scripts/pageJS/Flat">
        <file Path="ChoseProject.js"/>
      </include>
    </script>
    <!--用户点餐  平板端资源配置 end-->
    <!--移动端 资源配置 start-->
    <style Name="MobiscrollStyle" VirtualPath="~/css/new/MobiscrollStyle">
      <include FileBasePath="/Scripts/mobiscroll/css">
        <file Path="mobiscroll.custom-2.17.0.min.css"/>
      </include>
    </style>
    
    <script Name="MobiscrollJS" VirtualPath="~/js/new/MobiscrollJS">
      <include FileBasePath="/Scripts/mobiscroll/js">
        <file Path="mobiscroll.custom-2.17.0.min.js"/>
      </include>
    </script>
    <!--移动端 资源配置 end-->
  </plugin>
</bundle>
