<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Test" connectionString="Data Source=127.0.0.1;Initial Catalog=Test;MultipleActiveResultSets=True;user id=sa;Password=123456;Network=dbmssocn;"/>-->
    <add name="Test" connectionString="Data Source=(local)\JUSTIN_SQLSERVER;Initial Catalog=JiuDBTest;Persist Security Info=True;User ID=sa;Password=123" />
    <!--<add name="OPUPMSConn" connectionString="Data Source=(local)\JUSTIN_SQLSERVER;Initial Catalog=OPUPMS;Persist Security Info=True;User ID=sa;Password=123" />-->
    <add name="OPUPMSConn" connectionString="Data Source=OPUDev;Initial Catalog=OPUPMS;Persist Security Info=True;User ID=sa;Password=Dev2017" />
  </connectionStrings>
</configuration>