@using OPUPMS.Domain.Restaurant.Model.Dtos;
@{
    Layout = Url.Content(Plugin.Instance.GetLayoutPath("Shared/_Layout_1.cshtml"));
    ViewBag.Title = "区域管理";
    List<RestaurantListDTO> Restaurants = ViewBag.Restaurants;
}

<div class="container-fluid">
    <ol class="breadcrumb" style="margin-bottom:0px; padding:6px 15px; line-height:25px;">
        <li>首页</li>
        <li>餐厅设施管理</li>
        <li>区域管理</li>
        <a class="btn btn-primary pull-right radius" style="line-height:1.6em;" href="javascript:location.replace(location.href);" title="刷新"><span class="glyphicon glyphicon-refresh"></span></a>
    </ol>

    <div id="toolbar" class="btn-group">
        <button type="button" data-id="0" class="btn btn-default add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加</button>
    </div>


    <div class="form-inline">
        <div class="form-group">
            <label for="">餐厅:</label>
            <select class="form-control" id="Restaurant" name="Restaurant">
                <option value="0">所有</option>
                @{
                    if (Restaurants.Any())
                    {
                        foreach (var item in Restaurants)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                }


            </select>
        </div>
        <div class="form-group">
            <button type="button" onclick="Search()" class="btn btn-primary search">
                <span class="glyphicon glyphicon-

search" aria-hidden="true"></span>查询
            </button>
        </div>
    </div>


    <div class="page-container">
        <table id="tablist" class="table table-condensed table-hovered sortableTable"></table>
    </div>
</div>
@section FooterScripts{
    <script type="text/javascript">
        $(function () {
            var pageJs = restaurant.Create();
            pageJs.init();
        })

        var restaurant = {
            Create: function () {
                var bindModel = {};
                var layindex;

                var bindAction = function () {
                    $("#tablist").bootstrapTable({
                        url: '/Res/Area/GetAreas',     //请求后台的URL（*）
                        method: 'get',           //请求方式（*）
                        toolbar: '#toolbar',        //工具按钮用哪个容器
                        striped: true,           //是否显示行间隔色
                        cache: false,            //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                        pagination: true,          //是否显示分页（*）
                        sortName: "Id",
                        sortable: true,           //是否启用排序
                        sortOrder: "desc",     //排序方式
                        showRefresh: false, // 开启刷新功能
                        clickToSelect: true,
                        showFooter: false,  //footer 用作统计
                        queryParamsType: "limit",//查询参数组织方式
                        queryParams: function getParams(params) {
                            params.Restaurant = $("#Restaurant").val();
                            return params;
                        },//传递参数（*）
                        sidePagination: "server",      //分页方式：client客户端分页，server服务端分页（*）
                        pageNumber: 1,            //初始化加载第一页，默认第一页
                        pageSize: 10,            //每页的记录行数（*）
                        pageList: [10, 20, 50, 100],    //可供选择的每页的行数（*）
                        strictSearch: true,
                        //height: 460,            //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                        uniqueId: "ID",           //每一行的唯一标识，一般为主键列
                        cardView: false,          //是否显示详细视图
                        buttonsAlign: "left",
                        exportDataType: "basic",
                        columns: [{
                            field: 'Name',
                            title: '名称'
                        }, {
                            field: 'Restaurant',
                            title: '所属餐厅'
                        }, {
                            field: 'ServerRate',
                            title: '服务费率',
                            sortable: true
                        }, {
                            field: 'BoxNum',
                            title: '包厢数',
                            sortable: true
                        }, {
                            field: 'TableNum',
                            title: '台位数',
                            sortable: true
                        }, {
                            field: 'Description',
                            title: '描述信息'
                        }, {
                            field: 'action',
                            title: '操作',
                            formatter: controlEdit
                        }]
                    })

                    function controlEdit(value, row, index) {
                        var id = row["Id"];
                        return "<a class='btn btn-default add' href='javascript://' data-id='" + id + "'><span class='glyphicon glyphicon-edit'></span>编辑</a>";
                    }

                    $(document).on("click", ".add", function () {
                        var id = $(this).attr("data-id");
                        var height = $(document).height() - 100;
                        layer.open({
                            type: 2,
                            title: "区域编辑",
                            area: ["800px", height + "px"],
                            content: "/Res/Area/Edit?id=" + id,
                            maxmin: false
                        });
                    })
                }

                bindModel.init = function () {
                    bindAction();
                }

                return bindModel;
            }
        }

        function Refresh() {
            $("#tablist").bootstrapTable('refresh');
        }

        function Search() {
            $("#tablist").bootstrapTable('refreshOptions', { pageNumber: 1 });
        }
    </script>
}

