<?xml version="1.0" encoding="utf-8" ?>
<bundle>
  <plugin Name="OPUPMS.Web.Hotel">
    <!--<script Name="LayUIJs" VirtualPath="~/js/layui.js">
      <include FileBasePath="/Content/layui">
        <file Path="layui.js"/>
      </include>
    </script>-->

    <script Name="TabJs" VirtualPath="~/js/tab">
      <include FileBasePath="/Scripts/pageJS">
        <file Path="tab.js"/>
      </include>
    </script>

    <script Name="NavbarJs" VirtualPath="~/js/navbar">
      <include FileBasePath="/Scripts/pageJS">
        <file Path="Navbar.js"/>
      </include>
    </script>
    
    <script Name="MainJs" VirtualPath="~/js/index/main">
      <include FileBasePath="/Scripts/pageJS/Index">
        <file Path="main.js"/>
      </include>
    </script>
    
    <script Name="IndexJs" VirtualPath="~/js/index/index">
      <include FileBasePath="/Scripts/pageJS/Index">
        <file Path="index.js"/>
      </include>
    </script>

    <script Name="BasicJs" VirtualPath="~/js/basic/basic">
      <include FileBasePath="/Scripts/pageJS/Basic">
        <file Path="basic.js"/>
      </include>
    </script>

    <script Name="NumberRollJs" VirtualPath="~/js/basic/number_roll">
      <include FileBasePath="/Scripts/pageJS/Basic">
        <file Path="number_roll.js"/>
      </include>
    </script>

    <script Name="RoomStateJs" VirtualPath="~/js/roommanage/RoomState">
      <include FileBasePath="/Scripts/pageJS/RoomState">
        <file Path="RoomState.js"/>
      </include>
    </script>

    <script Name="RoomInfoJs" VirtualPath="~/js/roommanage/RoomInfo">
      <include FileBasePath="/Scripts/pageJS/RoomState">
        <file Path="RoomInfo.js"/>
      </include>
    </script>

    <script Name="RoomDetailJs" VirtualPath="~/js/roommanage/RoomDetails">
      <include FileBasePath="/Scripts/pageJS/RoomState">
        <file Path="RoomDetails.js"/>
      </include>
    </script>

    <script Name="BookingDetailJs" VirtualPath="~/js/roommanage/BookingDetails">
      <include FileBasePath="/Scripts/pageJS/Booking">
        <file Path="BookingDetails.js"/>
      </include>
    </script>


    
    

    <!--<style Name="LayUIStyle" VirtualPath="~/css/layui.css">
      <include FileBasePath="/Content/layui/css" RewriteUrl="true">
        <file Path="layui.css"/>
      </include>
    </style>-->

    <style Name="GlobalStyle" VirtualPath="~/css/global">
      <include FileBasePath="/Content/css" RewriteUrl="true">
        <file Path="global.css"/>
      </include>
    </style>

    <style Name="RootStyle" VirtualPath="~/css/root.css">
      <include FileBasePath="/Content/css" RewriteUrl="true">
        <file Path="root.css"/>
      </include>
    </style>
    
    <style Name="UserLoginStyle" VirtualPath="~/css/login">
      <include FileBasePath="/Content/css" RewriteUrl="true">
        <file Path="login.css"/>
      </include>
    </style>
    
    <style Name="RoomStateStyle" VirtualPath="~/css/pages/RoomState">
      <include FileBasePath="/Content/css/pages" RewriteUrl="true">
        <file Path="RoomState.css"/>
      </include>
    </style>
    
    <style Name="RoomInfoStyle" VirtualPath="~/css/pages/RoomInfo">
      <include FileBasePath="/Content/css/pages" RewriteUrl="true">
        <file Path="RoomInfo.css"/>
      </include>
    </style>
    
  </plugin>
</bundle>
