<?xml version="1.0" encoding="utf-8" ?>
<bundle>
  <plugin Name="OPUPMS.Web.MainSystem">

    <!--<script Name="TabJs" VirtualPath="~/js/tab">
      <include FileBasePath="/Scripts/pageJS">
        <file Path="tab.js"/>
      </include>
    </script>

    <script Name="NavbarJs" VirtualPath="~/js/navbar">
      <include FileBasePath="/Scripts/pageJS">
        <file Path="Navbar.js"/>
      </include>
    </script>-->
    
    <script Name="JqUnobtrusiveMinJs" VirtualPath="~/js">
      <include FileBasePath="/Scripts">
        <file Path="jquery.unobtrusive-ajax.min.js"/>
      </include>
    </script>    
    <script Name="JqValidateUnobtrusiveMinJs" VirtualPath="~/js">
      <include FileBasePath="/Scripts">
        <file Path="jquery.validate.unobtrusive.min.js"/>
      </include>
    </script>
    
    

    <style Name="GlobalStyle" VirtualPath="~/css/global">
      <include FileBasePath="/Content/css" RewriteUrl="true">
        <file Path="global.css"/>
      </include>
    </style>

    <style Name="RootStyle" VirtualPath="~/css/root.css">
      <include FileBasePath="/Content/css" RewriteUrl="true">
        <file Path="root.css"/>
      </include>
    </style>
    
  </plugin>
</bundle>
