<?xml version="1.0" encoding="utf-8" ?>
<bundle>
  <plugin Name="OPUPMS.UI.Web.Framework">
    <!--<style Name="CommonStyle" VirtualPath="~/css/common">
      <include FileBasePath="/Libs/bootstrap" RewriteUrl="true">
        <file Path="dist/css/bootstrap.css"/>
        <file Path="dist/css/bootstrap-theme.css"/>
        <file Path="assets/css/ie10-viewport-bug-workaround.css"/>
      </include>
    </style>
    <script Name="HeadCommonJs" VirtualPath="~/js/headcommon">
      <include FileBasePath="">
        <file Path="/Libs/bootstrap/assets/js/ie-emulation-modes-warning.js"/>
      </include>
    </script>
    <script Name="IeFixedJs" VirtualPath="~/js/iefixed">
      <include FileBasePath="/Libs">
        <file Path="/html5shiv/html5shiv.js"/>
        <file Path="/respond/respond.js" />
      </include>
    </script>
    <script Name="CommonJs" VirtualPath="~/js/common">
      <include FileBasePath="Scripts/jquery">
        <file Path="jquery-{version}.js"/>
        <file Path="jquery*"/>
      </include>
      <include FileBasePath="/Libs/bootstrap">
        <file Path="dist/js/bootstrap.js"/>
        <file Path="assets/js/ie10-viewport-bug-workaround.js"/>
      </include>
    </script>-->
    
    <script Name="CommonJs" VirtualPath="~/js/common">
      <include FileBasePath="Scripts/jquery">
        <file Path="jquery-2.1.1.min.js"/>
        <file Path="jquery*"/>
      </include>
      <include FileBasePath="Scripts/bootstrap">
        <file Path="/bootstrap.min.js" />
      </include>
    </script>

    <script Name="EchartJs" VirtualPath="~/js/echart">
      <include FileBasePath="Scripts/echarts">
        <file Path="echarts.min.js"/>
      </include>
    </script>

    <script Name="LayUIJs" VirtualPath="~/js/layui">
      <include FileBasePath="/Content/layui">
        <file Path="layui.js"/>
      </include>
    </script>

    <script Name="JqSignalR" VirtualPath="~/js/signalR">
      <include FileBasePath="Scripts/">
        <file Path="jquery.signalR-2.2.2.min.js"/>
      </include>
    </script>

    <script Name="JqSignalRhubs" VirtualPath="~/js/signalRhubs">
      <include FileBasePath="Signalr/">
        <file Path="hubs"/>
      </include>
    </script>

    <script Name="jqueryJS" VirtualPath="~/js/jqueryJS">
      <include FileBasePath="Scripts/jquery">
        <file Path="jquery-2.1.1.min.js"/>
      </include>
    </script>
    
    
    
    <style Name="CommonStyle" VirtualPath="~/css/common">
      <include FileBasePath="/Content">
        <file Path="bootstrap.min.css"/>
      </include>
    </style>
    
    <style Name="LayUIStyle" VirtualPath="~/css/layui">
      <include FileBasePath="/Content/layui/css">
        <file Path="layui.css"/>
      </include>
    </style>




    <style Name="LayUIStyle2x" VirtualPath="~/css/layui2x">
      <include FileBasePath="/Content/layui2x/css">
        <file Path="layui.css"/>
      </include>
    </style>

    <script Name="LayUIJs2x" VirtualPath="~/js/layui2x">
      <include FileBasePath="/Content/layui2x">
        <file Path="layui.js"/>
      </include>
    </script>
    
  </plugin>
</bundle>