<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="OPUPMSConn" connectionString="Data Source=10.102.47.203;Initial Catalog=PMS;Persist Security Info=True;MultipleActiveResultSets=true;User ID=sa;Password=gxdw.123" />
  <add name="OPUPMSApi" connectionString="https://10.102.47.203:8035" />
  <add name="OPUPMSGroupConn" connectionString="Data Source=127.0.0.1;Initial Catalog=tlwgroup;Persist Security Info=True;MultipleActiveResultSets=true;User ID=sa;Password=123456" />
</connectionStrings>
