<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="OPUPMSConn" connectionString="Data Source=139.9.40.110;Initial Catalog=NewPMS_南方电网2;Persist Security Info=True;MultipleActiveResultSets=true;User ID=sa;Password=123+321=opu" />
  <add name="OPUPMSApi" connectionString="https://139.9.40.110:980" />
  <add name="OPUPMSGroupConn" connectionString="Data Source=127.0.0.1;Initial Catalog=tlwgroup;Persist Security Info=True;MultipleActiveResultSets=true;User ID=sa;Password=123456" />
</connectionStrings>
