<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="OPUPMSConn" connectionString="Data Source=139.196.195.35;Initial Catalog=NewPMS_996;Persist Security Info=True;MultipleActiveResultSets=true;User ID=temp;Password=123456" />
  <add name="OPUPMSApi" connectionString="http://139.196.195.35:996" />
  <add name="OPUPMSGroupConn" connectionString="Data Source=127.0.0.1;Initial Catalog=tlwgroup;Persist Security Info=True;MultipleActiveResultSets=true;User ID=sa;Password=123456" />
</connectionStrings>
