<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="owin:AutomaticAppStartup" value="true" />
  <!--去掉创建项目初始化的Startup.cs文件的设置-->

  <!-- ================== 开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <add key="RouteDebugger:Enabled" value="false" />

  <!-- ================== HTTP请求控制相关配置 ================== -->
  <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  <!-- ================== 会员资料是否使用在线库:(true:使用 false:不使用) ================== -->
  <!--<add key="MemberGroup" value="false"/>-->
  <!-- ================== 结账四舍五入设置:{0:不舍不入 1:四舍五入 2:只舍不入 3:只入不舍} ================== -->
  <add key="Round" value="1"/>
  <!-- ================== 8801,8802,8804报表打印模式:{0:预览 1:直接打印} ================== -->
  <add key="PrintModel" value="0"/>
  <!-- ================== 是否单独夜审:{true:是 false:否} ================== -->
  <add key="NightTrial" value="true"/>
  <!-- ================== 订单提成方式:{1:订单消费金额 2:订单结账金额} ================== -->
  <add key="ExtractType" value="1"/>
  <!-- ================== 结账时先去掉支付方式的金额后再算打折金额 (多个支付方式ID以,间隔) ================== -->
  <add key="CheckOutRemovePayType" value=""/>
  <!-- ================== 点菜送单时是否先检测菜品所配置的档口打印机状态: {true:是  false:否} ================== -->
  <add key="OrderDetailPrintTest" value="true"/>
  <!-- ================== 下单后自动出列印单: {true:是  false:否} ================== -->
  <add key="AutoListPrint" value="false"/>
  <!-- ================== 下单时是否自动即起(如果为否:则弹出选择即起或叫起): {true:是  false:否} ================== -->
  <add key="DefaultPromptly" value="true"/>
  <!-- ================== 菜品是否启用会员价: {true:是  false:否} ================== -->
  <add key="ProjectMemberPrice" value="true"/>
  <!-- ================== TokenKey ================== -->
  <add key="TokenKey" value="OPU2019"/>
  <!-- ================== 退出跳转URL ================== -->
  <add key="LoginOutUrl" value="http://139.196.195.35:996/html/login_for_electricity.html"/>
  <add key="CerLocation" value="D:\\gxnd.cer" />
  <add key="ProjectImagePath" value="/UpLoadFiles/ProjectImage/" />
  <add key="UploadImgMaxSize" value="10485760" />
</appSettings>