@{
    Layout = Url.Content(Plugin.Instance.GetLayoutPath("Shared/LayoutTemplate.cshtml"));
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    预订列表界面
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.loader-box').remove();
        });
    </script>
</body>
</html>
