.dad-noSelect,.dad-noSelect *{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;cursor: -webkit-grabbing !important;cursor: -moz-grabbing !important;}

.dad-container{position: relative;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none; user-select: none;}
.dad-container::after{content: '';clear: both !important;display: block;}
.dad-active .dad-draggable-area{cursor: -webkit-grab;cursor: -moz-grab;}
.dads-children-clone{opacity: 0.8;z-index: 9999;pointer-events: none;}
.dads-children-placeholder{overflow: hidden;position: absolute !important;box-sizing: border-box;border:2px dashed #333;margin:5px;text-align: center;font-weight: bold;}

#photoContainer_view .item{float:left;overflow: hidden;padding:6px;position: relative;}
#photoContainer_view .item-con{position: relative;overflow: hidden;border-radius: 6px;border:1px solid #333;}
#photoContainer_view img{width:110px;height:110px;cursor: move;}
#photoContainer_view .del{-webkit-transition: all ease .3s;-moz-transition: all ease .3s;-ms-transition: all ease .3s;-o-transition: all ease .3s;
transition: all ease .3s;position:absolute;left:0;top:0;width:100%;height:30px;background:rgba(0,0,0,.6);line-height:30px;text-align: center;color:#fff;cursor:pointer;
-webkit-transform: translateY(-30px);-moz-transform: translateY(-30px);-ms-transform: translateY(-30px);-o-transform: translateY(-30px);transform: translateY(-30px);}
#photoContainer_view .item-con:hover .del{-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
#photoContainer_view .enlarge{-webkit-transition: all ease .3s;
-moz-transition: all ease .3s;
-ms-transition: all ease .3s;
-o-transition: all ease .3s;
transition: all ease .3s;
-webkit-transform: translateY(32px);
-moz-transform: translateY(32px);
-ms-transform: translateY(32px);
-o-transform: translateY(32px);
transform: translateY(32px);}
#photoContainer_view .item-con:hover .enlarge{
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.enlarge{position: absolute;right:0;bottom:0;background: rgba(0,0,0,.8);padding: 5px;border-top-left-radius: 6px;cursor: pointer;}
.enlarge .layui-icon{color:#fff;font-size:20px;}
