<?xml version="1.0" encoding="utf-8" ?>
<bundle>
  <plugin Name="OPUPMS.Web.Restaurant">
    <script Name="HuiminJs" VirtualPath="~/js/hui-min">
      <include FileBasePath="/Content/h-ui/js">
        <file Path="H-ui.min.js"/>
      </include>
    </script>

    <script Name="HuiAdminJs" VirtualPath="~/js/huiadmin">
      <include FileBasePath="/Content/h-ui.admin/js">
        <file Path="H-ui.admin.js"/>
      </include>
    </script>

    <script Name="LayerJs" VirtualPath="~/js/layer">
      <include FileBasePath="/Scripts/layer">
        <file Path="layer.js"/>
      </include>
    </script>

    <script Name="JqueryValidateJs" VirtualPath="~/js/jqueryValidate">
      <include FileBasePath="/Scripts/jquery.validation">
        <file Path="jquery.validate.js"/>
        <file Path="validate-methods.js"/>
        <file Path="messages_zh.js"/>
        <file Path="additional-methods.js"/>
      </include>
    </script>

    <script Name="BootstrapTableJs" VirtualPath="~/js/BootstrapTable">
      <include FileBasePath="/Scripts/bootstrap-table">
        <file Path="bootstrap-table.min.js"/>
        <file Path="locale/bootstrap-table-zh-CN.min.js"/>
        <file Path="bootstrapFormater.js"/>
        <file Path="bootstrap-table-export.js"/>
        <file Path="tableExport.js"/>
      </include>
    </script>

    <script Name="DatetimepickerJs" VirtualPath="~/js/datetimepicker">
      <include FileBasePath="/Scripts/datapicker">
        <file Path="bootstrap-datetimepicker.js"/>
        <file Path="bootstrap-datetimepicker.zh-CN.js"/>
      </include>
    </script>

    <script Name="IcheckJs" VirtualPath="~/js/icheck">
      <include FileBasePath="/Scripts/icheck">
        <file Path="icheck.min.js"/>
      </include>
    </script>

    <script Name="SelectJs" VirtualPath="~/js/select2">
      <include FileBasePath="/Scripts/bootstrap-select">
        <file Path="select2.min.js"/>
      </include>
    </script>

    <script Name="CkediterJs" VirtualPath="~/js/Ckediter">
      <include FileBasePath="/Scripts/ckeditor">
        <file Path="ckeditor.js"/>
      </include>
    </script>

    <script Name="VueJs" VirtualPath="~/js/vue">
      <include FileBasePath="/Scripts/vue">
        <file Path="vue.js"/>
      </include>
    </script>

    <script Name="BootstrapContextMenuJs" VirtualPath="~/js/BootstrapContextMenu">
      <include FileBasePath="/Scripts/bootstrap-contextmenu">
        <file Path="bootstrap-contextmenu.js"/>
        <file Path="prettify.js"/>
      </include>
    </script>

    <style Name="BootstrapTableStyle" VirtualPath="~/css/BootstrapTable">
      <include FileBasePath="/Scripts/bootstrap-table" RewriteUrl="true">
        <file Path="bootstrap-table.min.css"/>
      </include>
    </style>

    <style Name="DatetimepickerStyle" VirtualPath="~/css/Datetimepicker">
      <include FileBasePath="/Scripts/datapicker" RewriteUrl="true">
        <file Path="bootstrap-datetimepicker.min.css"/>
      </include>
    </style>

    <style Name="IcheckStyle" VirtualPath="~/css/Icheck">
      <include FileBasePath="/Scripts/icheck/skins/minimal" RewriteUrl="true">
        <file Path="blue.css"/>
      </include>
    </style>

    <style Name="BootstrapContextMenuStyle" VirtualPath="~/css/BootstrapContextMenu">
      <include FileBasePath="/Scripts/bootstrap-contextmenu" RewriteUrl="true">
        <file Path="prettify.css"/>
        <file Path="bootstrap-combined.min.css"/>
      </include>
    </style>

    <style Name="SelectStyle" VirtualPath="~/css/Select2">
      <include FileBasePath="/Scripts/bootstrap-select" RewriteUrl="true">
        <file Path="select2.css"/>
      </include>
    </style>

    <style Name="PageStyle" VirtualPath="~/css/pageStyle">
      <include FileBasePath="/Content/css" RewriteUrl="true">
        <file Path="PageStyle.css"/>
      </include>
    </style>

    <style Name="HuiStyle" VirtualPath="~/css/h-ui">
      <include FileBasePath="/Content/h-ui/css" RewriteUrl="true">
        <file Path="H-ui.min.css"/>
      </include>
    </style>

    <style Name="HuiAdminStyle" VirtualPath="~/css/h-uiAdmin">
      <include FileBasePath="/Content/h-ui.admin/css" RewriteUrl="true">
        <file Path="H-ui.admin.css"/>
        <file Path="style.css"/>
      </include>
    </style>

    <style Name="IconFont" VirtualPath="~/css/iconfont">
      <include FileBasePath="/Content/lib/Hui-iconfont/1.0.8" RewriteUrl="true">
        <file Path="iconfont.css"/>
      </include>
    </style>

    <style Name="Skin" VirtualPath="~/css/skin">
      <include FileBasePath="/Content/h-ui.admin/skin/default" RewriteUrl="true">
        <file Path="skin.css"/>
      </include>
    </style>
    
    

    <script Name="WelcomeJs" VirtualPath="~/js/Welcome">
      <include FileBasePath="/Scripts/pageJS/Index">
        <file Path="Welcome.js"/>
      </include>
    </script>

    <style Name="BootstrapSwitchStyle" VirtualPath="~/css/bootstrapSwitch">
      <include FileBasePath="/Scripts/bootstrap-switch" RewriteUrl="true">
        <file Path="bootstrap-switch.css"/>
      </include>
    </style>

    <script Name="BootstrapSwitchJs" VirtualPath="~/js/bootstrapSwitch">
      <include FileBasePath="/Scripts/bootstrap-switch">
        <file Path="bootstrap-switch.js"/>
      </include>
    </script>
    
  </plugin>
</bundle>
