html, body, div, span,  h1, h2, h3, h4, h5, h6, p, a,  img,ul, li,input,table,blockquote {  font-family: Microsoft YaHei!important;padding:0;margin:0; }
*, *:after, *:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; }
html{font-size: 20px;-webkit-text-size-adjust:none}
li{list-style-type:none;}
a{text-decoration: none;display: inline-block;color:#1f6fc5;outline:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
a:focus {outline:none;}
button{outline:none;}
button:focus ,input:focus,textarea:focus{ outline:none;}
iframe{border:none;width:100%;}
ol{padding-left: 20px;margin:0;}
.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;font-size:0;}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 99999;
}

#loading .layui-layer-content {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 120;
    margin-left: -30px;
    margin-top: -30px;
    width: 60px;
    height: 60px !important;
    background: url(../Images/loading-0.gif) no-repeat;
}


@font-face {
  font-family: 'iconfont';
  src: url('../icons/iconfont.eot');
  src: url('../icons/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../icons/iconfont.woff') format('woff'),
  url('../icons/iconfont.ttf') format('truetype'),
  url('../icons/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/*hover  focus重置*/
.el-button,.el-button span{-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;}
.el-button--warning:hover,.el-button--warning:focus{background-color: #e6a23c !important;border-color: #e6a23c !important;}
.el-button--primary.is-active,.el-button--primary:hover,.el-button--primary:focus{background-color: #409EFF !important;border-color: #409EFF !important;}
.el-button--danger:hover,.el-button--danger:focus{background-color: #f56c6c !important;border-color: #f56c6c !important;}
.el-checkbox-button.is-focus .el-checkbox-button__inner{border-color:#dcdfe6;}
.el-checkbox-button.is-checked.is-focus .el-checkbox-button__inner{border-color:#409EFF}
.el-checkbox-button__inner:hover{color: #606266;}
.el-checkbox-button{margin:2px;}
.el-checkbox-button__inner{border-radius: 4px !important;border: 1px solid #dcdfe6;transition:none;}
.el-radio-button__inner{transition:none;}
.el-dialog__headerbtn .el-dialog__close{font-weight: bold;font-size:20px;color:#333;}

.dialog-fade-enter-active,.dialog-fade-leave-active,.v-modal-enter,.v-modal-to{animation: none !important;}


.msgbox-fade-enter-active,.msgbox-fade-leave-active,.el-message-fade-enter-active,.el-message-fade-leave-active{animation:none;}
.el-badge__content{border:none;}

/*
 * 从透明到显示
 * 逐渐放大 */
.fade-scale-enter-active, .fade-scale-leave-active {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.fade-scale-enter, .fade-scale-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}


/* 子元素 逐渐显示  并  放大*/
.fade-scale-child-enter-active , .fade-scale-child-leave-active{transition: all .2s;}

.fade-scale-child-enter-active > div,.fade-scale-child-leave-active > div{
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.fade-scale-child-enter > div, .fade-scale-child-leave-to > div/* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -o-transform: scale(0.4);
  transform: scale(0.4);
}


/*大图模式用*/
.fade-scale-enter .swiper-slide, .fade-scale-leave-to .swiper-slide{
  background:transparent;
}

.fade-scale-enter .BigPhotobtn, .fade-scale-leave-to .BigPhotobtn{
  display:none;
}

/* 从底部弹出	*/
.up-enter-active, .up-leave-active {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.up-enter, .up-leave-to /* .fade-leave-active below version 2.1.8 */ {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

/*从右往左移动出现    返回时直接隐藏*/


/*从右往左移动出现 */
.left-enter-active, .left-leave-active {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.left-enter, .left-leave-to /* .fade-leave-active below version 2.1.8 */ {
  -webkit-transform: translateX(150%);
  -moz-transform: translateX(150%);
  -ms-transform: translateX(150%);
  -o-transform: translateX(150%);
  transform: translateX(150%);
}