@using OPUPMS.Domain.Restaurant.Model.Dtos;
@{
    Layout = Url.Content(Plugin.Instance.GetLayoutPath("Shared/_Layout.cshtml"));
    ViewBag.Title = "订单订金管理";
    ReserveCreateDTO Order = ViewBag.Order;
}

<div class="container-fluid">
    <h3 class="text-center">订单ID:@Order.Id 订单编号:@Order.OrderNo</h3>
    <div id="toolbar" class="btn-group">
        <button type="button" data-id="0" class="btn btn-default add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加</button>
    </div>
    <table id="tablist" class="table table-condensed table-hovered sortableTable"></table>
</div>

@section FooterScripts{
    <script>
        $(function () {
            var pageJs = editJs.Create();
            pageJs.init();
        })

        var editJs = {
            Create: function () {
            var editor = {};
            var layindex;

            var bindAction = function () {
                var height = $(document).height() - 100;
                var width = $(document).width() - 100;
                var newDate = new Date();
                var t = newDate.toJSON();

                $("#tablist").bootstrapTable({
                    url: '/Res/Order/GetOrderDeposits',     //请求后台的URL（*）
                    method: 'get',           //请求方式（*）
                    toolbar: '#toolbar',        //工具按钮用哪个容器
                    striped: true,           //是否显示行间隔色
                    cache: false,            //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,          //是否显示分页（*）
                    sortName: "Id",
                    sortable: true,           //是否启用排序
                    sortOrder: "desc",     //排序方式
                    showRefresh: false, // 开启刷新功能
                    clickToSelect: true,
                    showFooter: false,  //footer 用作统计
                    queryParamsType: "limit",//查询参数组织方式
                    queryParams: function getParams(params) {
                        params.orderId = '@Order.Id'
                        return params;
                    },//传递参数（*）
                    sidePagination: "client",      //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,            //初始化加载第一页，默认第一页
                    pageSize: 10,            //每页的记录行数（*）
                    pageList: [10, 20, 50, 100],    //可供选择的每页的行数（*）
                    strictSearch: true,
                    //height: 460,            //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "ID",           //每一行的唯一标识，一般为主键列
                    cardView: false,          //是否显示详细视图
                    buttonsAlign: "left",
                    exportDataType: "basic",
                    responseHandler: function (data) {
                        return data.Data;
                    },
                    columns: [{
                        field: 'PayAmount',
                        title: '金额'
                    }, {
                        field: 'CreateDate',
                        title: '创建时间',
                        sortable: true
                    }, {
                        field: 'CyddPayType',
                        title: '付款方式'
                    }, {
                        field: 'CyddJzStatus',
                        title: '状态'
                    }, {
                        field: 'CreateUser',
                        title: '创建人'
                    }]
                })

                function controlEdit(value, row, index) {
                    var id = row["Id"];
                    return new Array(
                        "<a class='btn btn-default add' href='javascript://' data-id='" + id + "'><span class='glyphicon glyphicon-edit'></span>编辑</a>",
                        "<a class='btn btn-default cancel' href='javascript://' data-id='" + id + "'><span class='glyphicon glyphicon-remove'></span>取消</a>",
                        "<a class='btn btn-default depositManager' href='javascript://' data-id='" + id + "'><span class='glyphicon glyphicon-yen'></span>定金管理</a>"
                    ).join(" ");
                }

                $(".closeAll").click(function () {
                    parent.layer.closeAll();
                })

                $(document).on("click", ".add", function () {
                    var id = $(this).attr("data-id");
                    var height = $(document).height() - 100;
                    layer.open({
                        type: 2,
                        title: "订金添加",
                        area: [width + "px", height + "px"],
                        content: "/Res/Order/OrderDepositCreate?orderId=" + @Order.Id,
                        maxmin: false
                    });
                })
            }

            editor.init = function () {
                bindAction();
            }

            return editor;
        }
    }
        function Refresh() {
            $("#tablist").bootstrapTable('refresh');
        }
    </script>
}

